<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">

    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-light">
        <span class="logo-lg">
            <img src="favicon.png" alt="" height="32">
        </span>
        <span class="logo-sm">
            <img src="favicon.png" alt="" height="32">
        </span>
    </a>

    <div class="h-100" id="leftside-menu-container" data-simplebar="">

        <!--- Sidemenu -->
        <ul class="side-nav">

            @*
            <li class="side-nav-title side-nav-item">Navigation</li>
            *@

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" aria-expanded="true" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span> Dashboards </span>
                </a>
                <div>
                    <ul class="side-nav-second-level">
                        <li>
                            <NavLink href="/units">Unit Prices</NavLink>
                        </li>
                        <li>
                            <NavLink href="/categories">Categories</NavLink>
                        </li>
                        <li>
                            <NavLink href="/products">Products</NavLink>
                        </li>
                        <li>
                            <NavLink href="">Projects</NavLink>
                        </li>
                    </ul>
                </div>
            </li>
            
        </ul>
        <!-- End Sidebar -->
    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->