@using Services.Features.UnitPrice.Create.Contracts
@using Services.Features.UnitPrice.Create.Contracts.DTOs
@using Services.Features.UnitPrice.Get.Contracts.DTOs

@inject ICreateUnitPriceFeature _createUnitPriceFeature

<h3>CounterComponent</h3>

<button class="btn btn-primary" @onclick="Increase">Click me</button>
<button class="btn btn-primary" @onclick="TestFeature">Test</button>
@code {
    
    [Parameter]
    public int Count { get; set; }
    
    [Parameter]
    public EventCallback<int> OnCountChaned { get; set; }
    
    public UnitPriceDTO UnitPrice { get; set; }

    private async Task Increase()
    {
        await OnCountChaned.InvokeAsync(++Count);
    }

    private async Task TestFeature()
    {
        await _createUnitPriceFeature.CreateAsync(new CreateUnitPriceDTO()
        {
            UnitPriceName = "123",
            Notes = "123"
        });
    }
}